#Python If ... Else

Python Conditions and If statements......
Python supports the usual logical conditions from mathematics:

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b



These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [7]:
#If statements
a = 200
b = 100
if b > a:
  print("b is greater than a")
elif a == b: 
  print("a=b") 
else:
  print("a is greater than b")

a is greater than b

#Indentation
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

Example
If statement, without indentation (will raise an error):

In [10]:
#Error
a = 33
b = 200
if b > a:
     print("b is greater than a") # you will get an error

b is greater than a

#Elif
The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [11]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

#Else
The else keyword catches anything which isn't caught by the preceding conditions.

In [12]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [14]:
#You can also have an else without the elif:
#Example
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

#And
The and keyword is a logical operator, and is used to combine conditional statements:

Example
Test if a is greater than b, AND if c is greater than a:

In [15]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

#Or
The or keyword is a logical operator, and is used to combine conditional statements:

Example
Test if a is greater than b, OR if a is greater than c:

In [16]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

#Nested If
You can have if statements inside if statements, this is called nested if statements.

In [18]:
x = 5

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")
else:
  print("<10")

<10

#Python Loops
Python has two primitive loop commands:
1.   while loops
2.  for loops

#The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

Example
Print i as long as i is less than 6:

In [2]:
i = 1
while i < 6:
  print(i)
  i = i + 1

1
2
3
4
5

**Note**: remember to increment i, or else the loop will continue forever.

**The break Statement**
With the break statement we can stop the loop even if the while condition is true:
Example
Exit the loop when i is 3:

In [2]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i = i + 1

1
2
3

**The continue Statement**
With the continue statement we can stop the current iteration, and continue with the next:

Example
Continue to the next iteration if i is 3:

In [7]:
i = 0
while i < 6:
  i = i + 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

#Python For Loops
**Python For Loops**
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [3]:
#Lists are used to store multiple items in a single variable.
#Lists are created using square brackets:
# Example
# Print each fruit in a fruit list:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

The for loop does not require an indexing variable to set beforehand.

Looping Through a String
Even strings are iterable objects, they contain a sequence of characters:

In [4]:
# Example
# Loop through the letters in the word "banana":

for i in "banana":
  print(i)

b
a
n
a
n
a

The break Statement
With the break statement we can stop the loop before it has looped through all the items:

Example
Exit the loop when x is "banana":

<!-- The break Statement
With the break statement we can stop the loop before it has looped through all the items:

Example
Exit the loop when x is "banana": **bold text** -->

In [13]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [5]:
# Example
# Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

Example
Do not print banana:

In [6]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

The range() Function:-
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

Example
Using the range() function:

In [7]:
for x in range(6):
  print(x)

0
1
2
3
4
5

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

Example
Using the start parameter:

In [8]:
for x in range(2, 6):
  print(x)

2
3
4
5

Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

Example
Print all numbers from 0 to 5, and print a message when the loop has ended:

In [9]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

Example
Print each adjective for every fruit:

In [10]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry