#Python Lists
mylist = ["apple", "banana", "cherry"]
List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [1]:
# Example
# Create a List:

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Allow Duplicates
Since lists are indexed, lists can have items with the same value:

In [2]:
# Example
# Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

List Length
To determine how many items a list has, use the len() function:

In [3]:
# Example
# Print the number of items in the list:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

List Items - Data Types
List items can be of any data type:

Example
String, int and boolean data types:

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

A list can contain different data types:

Example
A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]

In [5]:
#Example
#A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]

type()
From Python's perspective, lists are defined as objects with the data type 'list':

<class 'list'>

In [7]:
# Example
# What is the data type of a list?

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

The list() Constructor
It is also possible to use the list() constructor when creating a new list.

Example
Using the list() constructor to make a List:

In [8]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

**Python Collections (Arrays)**
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

#Python Tuples
Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [9]:
mytuple = ("apple", "banana", "cherry")

In [10]:
# Example
# Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**Tuple Items**
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

**Unchangeable**
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

**Allow Duplicates**
Since tuples are indexed, they can have items with the same value:

In [11]:
# Example
# Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

**Tuple Length**
To determine how many items a tuple has, use the len() function:

In [12]:
# Example
# Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

**Create Tuple With One Item**
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [14]:
# Example
# One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

**Tuple Items **- Data Types
Tuple items can be of any data type:

In [15]:
# Example
# String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

#A tuple can contain different data types:

Example
A tuple with strings, integers and boolean values:

In [16]:
tuple1 = ("abc", 34, True, 40, "male")

**type()**
From Python's perspective, tuples are defined as objects with the data type 'tuple':

<class 'tuple'>

In [17]:
# Example
# What is the data type of a tuple?

mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

**The tuple() Constructor**
It is also possible to use the tuple() constructor to make a tuple.

In [19]:
# Example
# Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

#Python Sets
Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [ ]:
myset = {"apple", "banana", "cherry"}

In [4]:
# Example
# Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

Note: Sets are unordered, so you cannot be sure in which order the items will appear.

Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

Duplicates Not Allowed
Sets cannot have two items with the same value.

In [11]:
# Example
# Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

**Get the Length of a Set**
To determine how many items a set has, use the len() method.

In [12]:
# Example
# Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

#Set Items - Data Types
Set items can be of any data type:

In [ ]:
# Example
# String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

**A set can contain different data types:**

In [7]:
# Example
# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}

**type()**
From Python's perspective, sets are defined as objects with the data type 'set':

<class 'set'>

In [13]:
# Example
# What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

**The set() Constructor**
It is also possible to use the set() constructor to make a set.

In [14]:
# Example
# Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

#Python Dictionaries

**Dictionary**
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
Dictionaries are written with curly brackets, and have keys and values:

**Dictionary Items**
Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [17]:
#Create and print a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [19]:
#Print the "brand" value of the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["year"])

1964

#Summary
![image.png]()